.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .header-content {
    position: relative;
    z-index: 3;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
}

.banner .header-content h1 {
    margin-bottom: 10px; 
}

.banner .header-content .typewrite {
    margin-top: 0 !important; 
}

@media screen and (min-width: 1400px){
    .banner .slider{
        width: 150px;
        height: 190px;
        left: calc(50% - 75px);
        transform: perspective(1200px);
        top: 10%;
    }
    .banner .slider .item{
        translate: none;
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(420px);
    }

    .banner .header-content {
        top: 35%;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px){
    .banner .slider{
        width: 150px;
        height: 190px;
        left: calc(50% - 75px);
        transform: perspective(1200px);
        top: 10%;
    }
    .banner .slider .item{
        translate: none;
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(420px);
    }

    .banner .header-content {
        top: 41%;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .banner .slider{
        width: 150px;
        height: 200px;
        left: calc(50% - 75px);
        top: 8%;
    }
    .banner .slider .item{
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(340px);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .banner .slider{
        width: 140px;
        height: 180px;
        left: calc(50% - 70px);
        top: 10%;
    }
    .banner .slider .item{
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }

    .banner .header-content {
        top: 45%;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 567px) and (max-width: 767px) {
    .banner .slider{
        width: 100px;
        height: 140px;
        left: calc(50% - 50px);
        top: 12%;
    }
    .banner .slider .item{
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(220px);
    }

    .banner .header-content {
        top: 45%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 575px) {
    .banner .slider{
        width: 90px;
        height: 120px;
        left: calc(50% - 45px);
        top: 15%;
    }
    .banner .slider .item{
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(200px);
    }

    /* Align content*/
    .banner .header-content {
        top: 45%;
        transform: translateY(-50%);
    }
}
