/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* GENERAL STYLES*/

/*Override General Settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--fs-gray-blue);
    color: var(--fs-gray);
    font-size: 1.2rem;
    line-height: 1.6;
}

h1 {
    color: var(--fs-black-blue);
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.2;
}

h2,h3 {
    color: var(--fs-dark-gray-blue);
    font-weight: 500;
}

p {
    color: var(--fs-gray);
    margin: 1rem 0;
    /* padding: 0 1rem; */
}

a {
    text-decoration: none;
    color: var(--fs-soft-blue);
    text-transform: uppercase;
    border-bottom: 2px transparent solid;
    padding-bottom: .5rem;
    transition: border-color .5s;
    font-size: 1.2rem;
    font-weight: bold;
}

a:hover {
    color: var(--fs-sky-blue);
    /* border-color: var(--fs-dark-gray-blue); */
}

/* a.active {
    border-bottom: 2px solid var(--fs-soft-blue);
    padding-bottom: .5rem;
} */

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* HEADER */
header {
    background: url('../images/background.webp') no-repeat 40% center / cover;
    min-height: 70vh;
}

.navbar {
    background-color: transparent !important;
}

.navbar-brand {
    width: 120px;
    height: auto;
}

.header-content {
    text-align: center;
    padding-top: 30%;
}


/* MAIN */

.nav-direction-list {
    display: flex;
    justify-content: space-evenly;
}


